@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'tbc-font';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/tbc-font.woff2') format('woff2');
}

body {
    font-family: 'tbc-font', Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#f4f4f4;
    background-color: #161616;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* for Chrome, Safari, and Opera */
}